<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>国会議事録年代別単語類似度検索システム</title>
</head>
<body>
    <h3>国会議事録年代別単語類似度検索システム</h3>
    <form action = "/" method = "POST">
        <p>検索するワード <input type = "text" name = "Word"></p>
        <p><input type = "submit" value = "検索"></p>
    </form>
</body>
</html>